<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
  <appSettings>
    <add key="apikey_baidu" value="edUWu66ddGavrmj9a6vcsa75" />
    <add key="apikey_caiyun" value="XX3OXGV581TJoQNP" />
    <add key="provider" value="caiyun" />
  </appSettings>
</configuration>